body {
    background-image: url("../assets/images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}

.card-height {
    height: 65vh;
    margin: 8%;
}

.img-logo{
    width: 70%;
    height: 30vh;
    margin-top: 5vh;
}
 
.img-card{
    padding: 2%;
    width: 30%;
    height: 30vh;
}